.card__trash{
  border: none;
  background: none;
  display: block;
  position: absolute;
  top: 25.7px;
  right: 21.28px;
  width: 18px;
  height: 19.3px;
  transition: filter 300ms ease-in-out;
  background-image: url(../../../images/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__trash:hover{
  filter: opacity(60%);
  cursor: pointer;
}