.profile__name{
  font-family: Inter;
  font-size: 2.625em;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin:1px 0 13px 0;
}

@media all and (max-width:767px) {
  .profile__name{
  font-size: 1.688em;
  line-height: 33px;
  text-align: center;
  }
}
